:root {
    --cau-purple: 255,169,51;
    --cau-purple-dark: 255,169,51;
    --color-highlight-dark: var(--soda-dark);
    --color-highlight-menu: var(--soda-purple);
    --color-highlight: var(--soda-purple);
  }